header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Lilita One";
    border-radius: 5px;
    background-color: #dbf5fb;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: "Lilita One";
    background-color: #dbf5fb;
}