header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 5px;
    font-family: "Lilita One";
    background-color: #dbf5fb;
}

main {
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: "Lilita One";
    background-color: #dbf5fb;
}
