.mainContainer {
    min-width: 300px;
    padding: 1em;
    border-radius: 5px;
    font-family: "Gabarito", sans-serif;
    color: #282828;
    background-color: #83a598;
}

.mainTitle {
    margin-top: 0;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInput {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #928374;
    border-radius: 3px;
    color: #282828;
    background-color: #ebdbb2;
    outline: none;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.formBtn {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #928374;
    border-radius: 3px;
    text-align: center;
    color: #282828;
    font-weight: 800;
    text-decoration: none;
    outline: none;
}

.formBtnCancel {
    background-color: #d3869b;
}

.formBtnReset {
    background-color: #b8bb26;
}

.formBtnSave {
    background-color: #fabd2f;
}
