.mainContainer {
    width: 100%;
}

.messageNoProducts {
    text-align: center;
    font-family: "Gabarito", sans-serif;
    color: #ebdbb2;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    box-sizing: border-box;
    margin-top: 3em;
    padding: 1em;
}
