.noProducts {
    font-family: "Lilita One";
    color: #ffffff;
}

.container {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: stretch;
    align-items: flex-start;
    font-family: "Lilita One";
}
