.container {
    padding: 1em;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
    color: #282828;
    background-color: #83a598;
}

.title {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
}

.input {
    padding: 0.4em;
    margin-top: 1em;
    border: 1px solid #928374;
    border-radius: 3px;
    color: #282828;
    background-color: #ebdbb2;
    outline: none;
}

.textareaInput {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
    max-height: 30px;
    min-height: 30px;
}

.inputError {
    margin: 0;
    padding: 0.2em 0 0 0.4em;
    color: #cc241d;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.button {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #928374;
    border-radius: 3px;
    text-align: center;
    color: #282828;
    font-weight: 800;
    text-decoration: none;
    outline: none;
}

.buttonCancel {
    background-color: #d3869b;
}

.buttonReset {
    background-color: #b8bb26;
}

.buttonSave {
    background-color: #fabd2f;
}
