.container {
    width: 100%;
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    font-family: "Lilita One";
}

.noProducts {
    font-family: "Lilita One";
    color: #ffffff;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 1em;
}
