.mainContainer {
    max-width: 300px;
    padding: 1.5em;
    border-radius: 5px;
    font-family: "Gabarito", sans-serif;
    background-color: #83a598;
}

.title {
    margin-top: 0;
    text-align: center;
    color: #282828;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0.5em;
    margin-top: 1em;
    border: 1px solid #928374;
    border-radius: 3px;
    font-size: inherit;
    background-color: #ebdbb2;
    outline: none;
}

.registrationErrors {
    text-align: center;
    color: #282828;
    background-color: #fb4934;
}

.error {
    margin: 0;
    padding-top: 0.2em;
    padding-left: 0.4em;
    text-align: start;
    font-size: 1rem;
    color: #cc241d;
}

.button {
    font-weight: 800;
    color: #282828;
    background-color: #fabd2f;
    cursor: pointer;
}

.question {
    margin: 0;
    margin-top: 1em;
    text-align: center;
    font-size: 1rem;
    color: #282828;
}

.link {
    color: #cc241d;
    font-weight: 600;
    text-decoration: none;
}
