.item {
    margin-left: 1em;
    padding: 0.2em 0.3em;
    border-radius: 3px;
    background-color: #d3869b;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.3em;
    border-radius: 3px;
    background-color: #ebdbb2;
}
.link {
    font-weight: 600;
    color: #282828;
    text-decoration: none;
}

.addProduct {
    background-color: #83a598;
}

@media screen and (max-width: 768px) {
    .item {
        margin-top: 1em;
        margin-left: 0;
    }

    .welcome {
        margin-top: 1em;
    }
}
