.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Lilita One";
    background-color: #dbf5fb;
}

.containerNav {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
}

.containerMenu {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.containerMenuItem {
    margin-left: 0.5em;
    list-style: none;
}

.containerMenuItemLink {
    color: #000000;
    text-decoration: none;
}

.containerMenuItemLinkTitle {
    font-size: 1.5rem;
}

.containerAuth {
    display: flex;
    align-items: center;
}

.containerMenuAuthLink {
    padding: 0.2em 0.5em;
    border-radius: 5px;
    background-color: #f8a0b3;
}

.containerMenuAddProduct {
    background-color: #92c7f2;
}
