.mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    box-sizing: border-box;
}

.menuContainer {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.menuItem {
    margin-left: 0.5em;
    list-style: none;
}

.menuLink {
    color: #000000;
    text-decoration: none;
}

.menuLogo {
    font-size: 1.2rem;
    
}

.authContainer {
    display: flex;
    align-items: center;
}

.authLink {
    padding: 0.2em 0.5em;
    border-radius: 5px;
    background-color: #f8a0b3;
}

.addProductLink {
    background-color: #92c7f2;
}
