.mainContainer {
    display: flex;
    padding: 0.5em 0;
    margin: 0 1em;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
    background-color: #282828;
}

.menuContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    color: #ebdbb2;
    text-decoration: none;
}

.itemsList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuBtn {
    display: none;
    padding: 0;
    border: none;
    font-size: 1.3rem;
    color: #ebdbb2;
    background: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menuContainer {
        width: calc(100% - 2em);
        min-height: calc(100vh - 3.3em);
        position: fixed;
        left: 100%;
        top: 3.3em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #282828;
    }

    .menuContainer.visibleMenuContainer {
        left: 1em;
    }

    .authContainer {
        width: 100%;
    }

    .itemsList {
        flex-direction: column;
        align-items: flex-start;
    }

    .authItem {
        margin-top: 1em;
        margin-left: 0;
    }

    .menuBtn {
        display: block;
        margin-left: auto;
    }
}
