.product {
    padding: 1em;
    border-radius: 5px;
    font-family: "Gabarito", sans-serif;
    text-align: center;
    color: #282828;
    background-color: #83a598;
}

.image {
    width: 100px;
}

.name {
    margin-bottom: 0;
}

.description {
    color: #282828;
    font-weight: 600;
}

.price {
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.button {
    width: 60px;
    border: 1px solid #928374;
    border-radius: 3px;
    padding: 0.2em;
    font-weight: 800;
    color: #282828;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.deleteBtn {
    background-color: #d4879c;
}

.editBtn {
    background-color: #eebd35;
    text-decoration: none;
}

.reserveBtn {
    width: 80px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #eebd35;
}

.link {
    color: #282828;
    text-decoration: none;
}
